{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<form action="/question/{{ qid }}" method="POST">
<h2>#{{ index }}: {{ question }}</h2>

{% for choice in choices %}
    <p>
      <input type="radio"
             name="choices"
             id="{{ choice.id}}"
             value="{{ choice.id }}">
        <label for="{{ choice.id }}">
          {{ choice.choice }}
        </label>
      </input>
    </p>
{% endfor %}
<button type="submit">Next</button>
</form>

{% endblock %}
