{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}
<form action="/question/{{ qid }}" method="POST">
<h2>#{{ index }}: {{ question }}</h2>

{% for choice in choices %}
  <label for="{{ choice.id }}">
    <input type="radio"
         name="choices"
         id="{{ choice.id}}"
         value="{{ choice.id }}" />
    <i></i> <span>{{ choice.choice }}</span>
  </label>
  <br />
{% endfor %}
<br />
<button class="btn btn-success" type="submit">Next</button>
</form>

{% endblock %}
